div.players {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $bright-yellow;
    width: 100%;
}
// //////// I can't get this player section to remain a consitent width, regardless of how many players are chose.

ul.playerList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.playerList li {
    // border: 1px solid red;
    margin: 20px;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;

    h3 {
        // border: 1px solid green;
        margin: 0;
        text-align: center;
    }
    // ////// In the design, it shows up as "player one", "player two".... I'm not too sure how to add this to each li in the AvatarPic.js component.  I've tried playing aroudn with adding a new array ( ['one', 'two', 'three', etc.] ), but it was not pushing onto the page in the corresponding li where the avatar and player names show up---so like, within each individual .playerList li 
}

fieldset.playerInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    padding: 0;

    input[type=text] {
        background-color: $cream;
        width: 100%;
        border: 4px solid $coral-orange;
        border-radius: 8px;
        padding: 8px;
        text-align: center;
        color: $dark-teal;
        font-weight: 600;
    }
}

div.imgContainer {
    width: 220px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 40px 30px;
}

img.avatarPic {
    border: 4px solid $light-teal;
    border-radius: 50%;
    background-color: $cream;
    padding: 5px;
}

@media (max-width) {

}
