footer {
    background-color: $cream;
    padding: 30px;
    position: relative;
    bottom: -150px;
}

footer::before {
    content: '';
    background-image: url(./../../public/assets/footerWave.svg);
    position: absolute;
    // background-repeat: no-repeat;
    top: -150px;
    width: 100%;
    height: 150px;
}

.footerP {
    color: $dark-teal;
    text-align: center;
    font-family: $tertiary-font;
    font-size: $paragraph-text;
}