.gameForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
        margin: 2%
    }

    p {
        width: 40%;
        text-align: center;
        margin-top: 0;
    }

    form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 2%;
        width: 100%;

        fieldset {
            border: none;
            display:flex;
            width:100%;
            justify-content: space-evenly;
            padding:0;

            select {
                color: $coral-orange;
                padding:1%;
                border: 2px solid $dark-blue;
                text-align: center;
                border-radius:5px;
                margin:2%;
                width: 250px
            }

        }

    } 

}