.leaderboard {
    h3 {
        text-align: center;
    }

    h4,
    p {
        color: white;
    }

    ul {
        background-color: $light-teal;
        box-shadow: 4px 4px 5px rgba(34, 25, 25, 0.4);
        padding: 5%;
    }
    li {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 2.5% 0;
        background-color: $dark-teal;
        // border-bottom: 10px solid $dark-teal;
    }
    .listInfo {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        img {
            transform: scale(0.8);
        }
    }
}