.results {
    background-color: $cream;
    text-align: center;
    padding: 5% 0;

    h2 {
        letter-spacing: 2px;
    }

    .target {
        position: relative;
        &::before {
            content: url(../../public/assets/crown.svg);
            position: absolute;
            top: -45px;
            left: 40px;
            width: 90px;
            height: 100%;
            transform: rotate(-35deg);
        }

    }

    button {
        margin: 3% auto;
    }

    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 0;
    }
    
    li {
        margin: 0 2.5%;
    }

    .hidePlayer {
        display: none;
    }
}
