html {
    font-size: 125%;
} 

h1 {
    font-family: $primary-font;
    font-size: $header-text;
    line-height: 1;
    color: $dark-blue;
}

h2 {
    font-family: $primary-font;
    font-size: $subheading-text;
    line-height: 1;
    color: $dark-blue;
}

h3 {
    font-family: $secondary-font;
    font-size: 1.5rem;
    font-weight: 600;
    color: $coral-orange;
}

h4 {
    font-family: $primary-font;
    font-size: $paragraph-text;
    letter-spacing: 1.5px;
    line-height: 1;
    color: $dark-blue;
}

p {
    font-family: $tertiary-font;
    font-size: $paragraph-text;
    color: $dark-blue;
}

