// Colours!
$light-teal: #2a9d8f;
$cream: #fffef6;
$bright-yellow: #e9c46a;
$dark-teal: #195b53;
$dark-blue: #264653;
$coral-orange: #e76f51;

// Fonts! 
$primary-font: 'Fredoka One', cursive;
$secondary-font: 'Poppins', sans-serif;
$tertiary-font: 'Roboto', sans-serif;

// Font-sizes!
$header-text: 3rem;
$subheading-text: 2rem; 
$paragraph-text: 1.25rem;



