html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  width: 200px;
}

html {
  font-size: 125%;
}

h1 {
  font-family: "Fredoka One", cursive;
  font-size: 3rem;
  line-height: 1;
  color: #264653;
}

h2 {
  font-family: "Fredoka One", cursive;
  font-size: 2rem;
  line-height: 1;
  color: #264653;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #e76f51;
}

h4 {
  font-family: "Fredoka One", cursive;
  font-size: 1.25rem;
  letter-spacing: 1.5px;
  line-height: 1;
  color: #264653;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  color: #264653;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #fffef6;
}

main {
  min-height: 60vh;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

.wrapper {
  max-width: 1260px;
  width: 80%;
  margin: 0 auto;
}

button,
.start {
  align-self: center;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  color: #584F4E;
  cursor: pointer;
  font-size: 1.2rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  line-height: 23px;
  padding: 15px;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  display: block;
}

button:hover, button:focus, input[type=submit]:hover, input[type=submit]:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  background-color: #e4e4e4;
  transform: translate3d(0, 2px, 0);
  color: #FF6F28;
}

header::before {
  content: "";
  background-image: url(./../../public/assets/headerWave.svg);
  position: absolute;
  top: -35px;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  z-index: -1;
}

header .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
}

img.headerAvatar {
  width: 15%;
  border: 3px solid #264653;
  border-radius: 50%;
  padding: 1%;
  background-color: #2a9d8f;
}

h1 {
  text-align: center;
  letter-spacing: 5px;
}

.gameForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 65px;
}
.gameForm h3 {
  margin: 2%;
}
.gameForm p {
  width: 40%;
  text-align: center;
  margin-top: 0;
  transition: all 235ms ease-in-out;
}
.gameForm form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2%;
  margin-bottom: 150px;
}
.gameForm form fieldset {
  border: none;
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  padding: 0;
  margin-bottom: 40px;
}
.gameForm form fieldset select {
  color: #e76f51;
  padding: 1%;
  border: 2px solid #264653;
  text-align: center;
  border-radius: 5px;
  margin: 2%;
  width: 250px;
}

@media (max-width: 1000px) {
  .gameForm p {
    width: 85%;
  }
  .gameForm form fieldset {
    display: block;
  }
  .gameForm form fieldset select {
    padding: 10px;
    margin: 10px auto;
  }
}
div.playerAvatarName {
  width: 100%;
  margin-bottom: 30px;
  box-shadow: 4px 4px 5px rgba(34, 25, 25, 0.4);
}

div.players {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e9c46a;
  width: 100%;
}
div.players h2 {
  text-align: center;
}

ul.playerList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.playerList li {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.playerList li h3 {
  margin: 0;
  text-align: center;
}

fieldset.playerInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  padding: 0;
}
fieldset.playerInfo input[type=text] {
  background-color: #fffef6;
  width: 100%;
  border: 4px solid #e76f51;
  border-radius: 8px;
  padding: 8px;
  text-align: center;
  color: #195b53;
  font-weight: 600;
}

div.imgContainer {
  width: 220px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 40px 30px;
}

img.avatarPic {
  border: 4px solid #2a9d8f;
  border-radius: 50%;
  background-color: #fffef6;
  padding: 5px;
}

@media (max-width: 560px) {
  .players h2 {
    width: 80%;
  }
}
@media (max-width: 425px) {
  .players h2 {
    width: 60%;
  }
}
.questions {
  background-color: #fffef6;
  padding: 150px 0;
}
.questions div.nothere {
  display: none;
}
.questions div.here {
  display: block;
}
.questions .question-container {
  background-color: #2a9d8f;
  width: 70%;
  margin: 0 auto;
  box-shadow: 4px 4px 5px rgba(34, 25, 25, 0.4);
  padding: 50px;
  position: relative;
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-bottom: 60px;
}
.questions .question-container .player-avatar-container {
  position: absolute;
  top: -50px;
  left: -50px;
  height: 110px;
  width: 110px;
}
.questions .question-container .player-avatar-container img {
  width: 100%;
}
.questions .question-container .player-name-text {
  position: absolute;
  top: -70px;
  left: 70px;
}
.questions .question-container .question-text legend {
  background-color: #195b53;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 4px 4px 5px rgba(34, 25, 25, 0.4);
  color: #fffef6;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
}
.questions .question-container .next-button {
  margin-top: 20px;
  padding: 10px 40px;
}
.questions .question-container .timer-flex {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 30%;
  position: absolute;
  top: -20px;
  left: 38%;
}
.questions .question-container .timer-flex .timer-container {
  border: 3px solid #e9c46a;
  background-color: #fffef6;
  text-align: center;
  padding: 0 5px;
}
.questions .question-container .timer-flex .timer-container p {
  margin: 8px;
  font-weight: 600;
  letter-spacing: 0.6px;
}
.questions .question-container .timer-flex .timer-container .pause-button {
  position: absolute;
  right: 0;
  top: 2px;
  padding: 10px 10px;
  font-size: 0.8rem;
  font-weight: 300;
  font-family: "Fredoka One", cursive;
}
.questions .question-container .timer-flex .timer-container .reset-button {
  position: absolute;
  font-family: "Fredoka One", cursive;
  left: 0;
  padding: 10px 10px;
  top: 2px;
  font-size: 0.8rem;
}
.questions .question-container .player-question-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.questions .question-container .player-question-list fieldset {
  width: 100%;
  border: none;
}
.questions .question-container .player-question-list input {
  display: none;
}
.questions .question-container .player-question-list input:checked + label {
  background-color: #195b53;
  color: white;
  font-weight: 300;
}
.questions .question-container .player-question-list label {
  padding: 10px;
  margin-bottom: 10px;
  display: inline-block;
  width: 40%;
  margin: 20px;
  margin-top: 10px;
  background-color: white;
  color: #195b53;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  box-shadow: 3px 3px 5px black;
}
.questions .question-container .player-question-list label:hover, .questions .question-container .player-question-list label:focus {
  cursor: pointer;
  font-weight: 300;
  color: white;
  background-color: #195b53;
}

button.finish {
  margin: 50px auto;
}

@media (max-width: 1300px) {
  .questions .question-container .player-question-list label {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    width: 100%;
  }
  .questions .question-container .timer-flex {
    left: 75%;
    width: 50%;
  }
  .questions .question-container .reset-button {
    display: none;
  }
  .questions .question-container .pause-button {
    display: none;
  }
}
.results {
  background-color: #fffef6;
  text-align: center;
  padding: 5% 0 25%;
}
.results h2 {
  letter-spacing: 2px;
}
.results .target {
  position: relative;
}
.results .target::before {
  content: url(../../public/assets/crown.svg);
  position: absolute;
  top: -45px;
  left: 40px;
  width: 90px;
  height: 100%;
  transform: rotate(-35deg);
}
.results button {
  margin: 3% auto;
}
.results ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0;
}
.results li {
  margin: 0 2.5%;
}
.results .hidePlayer {
  display: none;
}

.leaderboard {
  margin-bottom: 15%;
  transition: all 235ms ease-in-out;
}
.leaderboard h3 {
  text-align: center;
}
.leaderboard h4,
.leaderboard p {
  color: white;
}
.leaderboard ul {
  background-color: #2a9d8f;
  box-shadow: 4px 4px 5px rgba(34, 25, 25, 0.4);
  padding: 5%;
}
.leaderboard li {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #195b53;
}
.leaderboard .listInfo {
  display: flex;
  border: 4px #2a9d8f solid;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.leaderboard .listInfo img {
  transform: scale(0.6);
}

@media (max-width: 1500px) {
  .leaderboard {
    margin-bottom: 20%;
  }
}
@media (max-width: 1000px) {
  .leaderboard {
    margin-bottom: 30%;
  }
  .leaderboard .listInfo {
    flex-direction: column;
  }
  .leaderboard .listInfo h4 {
    margin: 0;
  }
}
footer {
  background-color: #195b53;
  padding: 0 0 20px;
  position: relative;
}

footer::before {
  content: "";
  background-image: url(./../../public/assets/footerWave2.svg);
  background-size: cover;
  position: absolute;
  bottom: 135px;
  background-repeat: no-repeat;
  width: 100%;
  height: 200%;
  z-index: -10;
}

.footerP {
  color: #fffef6;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}
.footerP a:hover,
.footerP a:focus {
  text-decoration: underline;
  color: #e76f51;
}

@media (max-width: 1700px) {
  footer::before {
    bottom: 149px;
    height: 180px;
  }
}
@media (max-width: 1600px) {
  footer::before {
    bottom: 149px;
    height: 168%;
  }
}
@media (max-width: 600px) {
  p.footerP {
    font-size: 0.8rem;
  }

  .portfolio a {
    display: block;
    margin: 16px;
  }

  .portfolio span {
    display: none;
  }
}